*{
margin: 0;
padding: 0;
color: white;
}
body{
	background-color: black;
	font-family: 'poppins',sans-serif;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 90px;
	background-color:indianred;
}
nav ul{
	display: flex;
	justify-content: center;
}
nav ul li{
	list-style: none;
	margin: 0 23px;
}
nav ul li a{
	text-decoration: none;
}
main hr{
	border: 0;
	background: skyblue;
	height: 1.2px;
	margin: 60px 80px;
}
nav ul li a:hover{
	color: blanchedalmond;
	font-size: 1.1rem;
}
.left{
	font-size: 1.3rem;
}
.firstsection{
display: flex;
justify-content: space-around;
align-items: center;
margin: 130px 0;
}
.firstsection>div{
	width: 30%;
}
.leftsection{
	font-size: 1.5rem;
	margin: 70px 0;
}
.buttons{
	padding: 50px 0;
}
.btn{
 padding: 12px;
 background:#352835;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
#element{
	color: darkred;
}
.rightsection img{
	width: 80%;
}
.blue{
	color: blueviolet;
}
.secondsection{
	max-width: 80vw;
	margin: auto;
	height: 80vh;
}
.text-gray{
	color: gray;
}
.box{

	background: white;
	width: 47vw;
	height: 2px;
	margin: 56px 0 0 200px;
	display: flex;
	align-self: center;
}
.vertical{
	height: 98px;
	width: 1px;
	background-color: white;
	margin: 0 100px;
}
img.image_top{
	position: relative;
    width: 23px;
    top: -32px;
    left: -9px;
}
.vertical-title{
position: relative;
top: 75px;
width: 150px;
}
.vertical-desc{
position: relative;
top: 86px;
color: grey;
width: 150px;
font-size: 9px;
}
footer{
	background-color: #6d186d;
	height: 233px;
}
.footer{
	display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
list-style: none;	
}
.footer>div{
	width: 123px;
}
.footer-rights{
	color: gray;
	text-align: center;
	padding: 12px 0;
}